
#black{
    background-color: #161616;
    color: white;
}
#blackback{
    background-image: url("black.jpg");
    color: white;
}
.affan{
    padding: 0;
}
.background-section {
    background-image: url('black.jpg'); /* Replace 'black.jpg' with your image file path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image horizontally and vertically */
    /* Additional styles (if needed) */
    /* ... */
}
#page-content 
{ padding: 20px 0 20px 0; }
.grid-layout 
{ overflow: hidden; margin-bottom: -2px !important; }
.grid-4-columns .grid-item, .post-4-columns .post-item, .portfolio-4-columns .portfolio-item { width: 25%; }
.grid-4-columns .grid-item.large-width, .post-4-columns .post-item.large-width, .portfolio-4-columns .portfolio-item.large-width { width: 50%; }
.container 
{ max-width: 1500px; }
.body-inner .container { max-width: 1500px; }